.post.row
    .col-12
        h3 #{title}
    .col-12
        p.small 
            | Posted in #{tags.join(', ')}
            | on #{posted}
    .col-12
        p #{body}
    .col-12.d-flex.justify-content-end
        id(style="display: none") #{_id}
        button.btn.btn-danger(onclick=`deletePost('${_id}')`) Delete